/* * {
    font-family: Arial;
}

.home {
    display:flex;
    flex-direction: column;
    background-color: #1e1e1e;
    min-height:100vh;
    color: #d4d4d4;
}
.light{ filter: invert(1) hue-rotate(180deg); }
.light .emoji { filter: invert(1) hue-rotate(180deg); }
.light [role="img"] { filter: invert(1) hue-rotate(180deg); }
.theme-selector {
    position: fixed;
    top: 0px;
    right: 8px;
    z-index: 100;
    height: 24px;
    width: 36px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    background-color: #d4d4d4;
    border:none;
}

.content { flex: 1; }

h4 {
    margin: 4px 0px 4px 0px;
}
ul {
    margin-top: 4px;
    list-style-type: none;
    padding-left:8px;
}
table { margin-bottom: 16px;}
a { color:white; }
td { padding-right:16px; }

.content div {
    background-color: #282829;
    margin:16px;
    padding:4px 16px 4px 16px;
}

.link-icon { text-align: center; }
.emoji { padding:8px 8px; }

footer { padding: 16px;} */

