* {
    font-family: Arial;
}

.home {
    display:flex;
    flex-direction: column;
    background-color: #1e1e1e;
    min-height:100vh;
    color: #d4d4d4;
}

.content { flex: 1; }

h4 {
    margin: 4px 0px 4px 0px;
}
ul {
    margin-top: 4px;
    list-style-type: none;
    padding-left:8px;
}
table { margin-bottom: 16px;}
a { color:white; }
td { padding-right:16px; }

.content div {
    background-color: #282829;
    margin:16px;
    padding:4px 16px 4px 16px;
}

.link-icon { text-align: center; }
.emoji { padding:8px 8px; }

footer { padding: 16px;}