* {
    font-family: Arial;
}

ul {
    margin-top: 4px;
    list-style-type: none;
    padding-left:8px;
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.home {    
    display:flex;
    flex-direction: column;
    padding: 16px;
    /* height:100%;
    width:100%; */
    color: #d4d4d4;
}

hr {
    color: ivory;
    width: 100%;
}

#root{
    min-height:100vh;
    background-color: #1e1e1e;
}

a { 
    color:white; 
}

.home div {
    background-color: #282829;
    margin:8px;
    padding-left:16px;
    display: inline-block;
}

td {
    padding-right:16px
}

.link-icon {
    text-align: center;
}

.emoji {
    padding:8px 8px;
}

table {
    margin-bottom: 16px;
}